/* #wrapper{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDkJoTzGXjGEFmW458eRuVbOxuCG_jIpc4o-uxXasik5Jt2-LP-Buguo4&s);
    height:500px;
   
   background-repeat: no-repeat;
   border:1px solid black;
   background-position: bottom;
   background-size: 500px;
} */

/* #wrapper {
    /* border:2px solid red;
    